.pokemon-card{
  @apply border flex items-center h-28 relative rounded-2xl pl-4;
}

.pokemon-image{
    @apply size-28 absolute right-1 z-10;
}

.pokemon-element-container {
    @apply w-[126px] h-full flex justify-center items-center absolute right-0 rounded-2xl;
    .pokemon-element-img {
        mask-image: linear-gradient(to top left, rgba(0, 0, 0, 0) 0%, #000000 100%);
        width: 94px;
        height: 94px;
    }
}

.type-badge {
  @apply mr-2 py-1 text-xs rounded-full text-black font-medium p-2 flex items-center gap-1 font-bold;
}

.loading-animation {
  @apply animate-pulse space-y-2 mb-6;
  
  .loading-item {
    @apply p-2 border rounded flex items-center;
    
    .loading-img {
      @apply bg-gray-200 rounded w-16 h-16 mr-3;
    }
    
    .loading-text {
      @apply h-4 bg-gray-200 rounded;
    }
  }
}

.pagination-container {
  @apply flex justify-between items-center;
}
