.pokemon-detail {
  @apply mx-auto bg-white shadow-lg relative px-4 pb-14;
  overflow-x: hidden;
}

.bg-image{
  @apply h-[250px] absolute w-full flex justify-center items-end top-0 left-0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: scale(1.2);
  transform-origin: center;
  background: linear-gradient(to right, #0000 0%, #ffffff47 100%);

  .element-image-detail{
    @apply w-[180px] mb-5;
    mask-image: linear-gradient(to left top, #00000048 0%, #000000 100%);
  }
}

.pokemon-detail-title {
  @apply text-[32px] font-bold capitalize mb-6 z-10;
}

.pokemon-detail-image {
  @apply size-[300px] object-contain z-10 mt-28 relative justify-self-center;
}

.pokemon-detail-typesTitle {
  @apply text-xl font-semibold mb-2 flex;
}

.pokemon-detail-typesList {
  @apply flex flex-wrap;
}

.type-badge-detail {
  @apply mr-2 py-1 px-3 text-base rounded-full capitalize text-black flex items-center justify-between gap-2 font-bold;
}

.type-badge-weak {
  @apply mr-2 py-1 px-3 text-base rounded-full capitalize text-black flex items-center justify-start gap-2 font-bold;
}

.type-badge-evo {
  @apply mr-2 w-[40%] py-1 px-3 text-base rounded-full capitalize text-black flex items-center justify-center gap-2 font-bold;
}

.pokemon-detail-typeItem {
  @apply px-3 py-2 bg-blue-100 text-blue-800 rounded-full text-sm font-medium;
}

.pokemon-detail-detailsGrid {
  @apply grid grid-cols-2 gap-4 mt-4 w-full;
}

.pokemon-desc{
  .pokemon-desc-label {
    @apply text-xs text-[#00000099] uppercase font-bold flex items-center gap-1;
  }

  .pokemon-desc-value{
    @apply py-2 px-4 text-[18px] text-center font-bold  mt-1;
    border: 1px solid #0000001A;
    border-radius: 15px;
  }
}

.pokemon-detail-abilitiesContainer {
  @apply col-span-2 mt-[21px];
}

.pokemon-detail-abilitiesTitle {
  @apply text-xl font-semibold mb-2;
}

.pokemon-detail-abilitiesList {
  @apply flex flex-wrap gap-2;
}

.pokemon-detail-abilityItem {
  @apply px-3 py-1 bg-green-100 text-green-800 rounded-full text-sm;
}

.pokemon-detail-genderContainer {
  @apply col-span-2 mt-[21px];
}

.pokemon-detail-genderTitle {
  @apply text-xl mb-2 text-center;
}

.pokemon-detail-genderDistribution {
  @apply flex items-center;
}

.pokemon-detail-genderBar {
  @apply flex-1 h-2 bg-gray-200 rounded-full overflow-hidden;
}

.pokemon-detail-maleSymbol {
  @apply mr-2 text-blue-500;
}

.pokemon-detail-femaleSymbol {
  @apply ml-2 text-pink-500;
}

.pokemon-detail-genderPercentage {
  @apply text-sm font-semibold flex justify-between text-[#000000B2];
}

.pokemon-detail-weaknessesContainer {
  @apply col-span-2 mt-[21px];
}

.pokemon-detail-weaknessesTitle {
  @apply text-xl font-semibold mb-2;
}

.pokemon-detail-weaknessesList {
  /* Arahkan ke grid dan limit 2 kolom */
  @apply grid grid-cols-2 gap-2;

  /* Optional: agar baris tidak menumpuk jika ada lebih banyak item */
  /* (lebih‑dari‑2 kolom tetap akan berjalan di baris berikutnya) */
  @apply auto-rows-fr;

  /* Bersihkan overflow kalau ada koverlap (alnya border‑radius) */
  @apply overflow-hidden;
}

.pokemon-detail-weaknessItem {
  @apply px-3 py-1 bg-red-100 text-red-800 rounded-full text-sm capitalize;
}

.pokemon-detail-evolutionContainer {
  @apply mt-[40px];
}

.pokemon-detail-evolutionTitle {
  @apply text-xl font-bold mb-4;
}

.pokemon-detail-evolutionTitle-inner{
  @apply flex flex-col items-center rounded-[15px] py-6 px-4;
  border: 1px solid #E6E6E6;  
}

.pokemon-detail-evolutionStage {
  @apply border shadow-sm flex w-full rounded-[90px];

  .evo-image-container{ 
    @apply relative size-full w-[35%] rounded-[90px] flex justify-center items-center;

      .evo-image {
        @apply absolute w-[50%];
        mask-image: linear-gradient(to left top, #00000048 0%, #000000 100%);
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        bottom: 0;
        top: 0;
      }

    .pokemon-detail-evolutionStageImage {
      @apply w-24 h-24 z-10 relative;
    }  
  }
}

.pokemon-detail-evolutionStageName {
  @apply font-bold capitalize my-2 text-[16px];
}

.pokemon-detail-evolutionStageTypes {
  @apply flex flex-wrap gap-1 mt-1;
}

.pokemon-detail-evolutionStageType {
  @apply px-2 py-1 bg-gray-100 text-gray-800 rounded-full text-xs;
}

.pokemon-detail-evolutionArrow {
  @apply my-3 flex flex-col items-center;
}

.pokemon-detail-evolutionLevel {
  @apply text-lg text-blue-800 mt-1 font-bold;
}

.pokemon-detail-description {
  @apply mt-6 pb-5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05)
}

.pokemon-detail-descriptionText {
  @apply text-gray-700 text-base leading-6 font-medium;
}
